.title {
  margin-left: 109px;
  margin-top: 31px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

.attributesSection {
  flex-basis: 30%;
}
.questionsSection {
  flex-basis: 70%;
  margin-top: 30px;
}
.addQuestionbutton {
  margin-left: 109px !important;
  margin-top: 20px !important;
  width: 220px;
  color: white !important;
  font-size: 14px !important;
  font-weight: small !important ;
  position: relative;
  border-radius: 8px !important;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11);
  background: linear-gradient(0deg, #2296f7 0%, #0f5dec 100%);
  border: 1px solid black;
  margin-bottom: 20px !important;
}
.timesetter {
  margin-top: 30px;
  /* box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11); */
  /* border: 1px solid #dde4eb; */
  border: 1px solid #dde4eb !important;
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11) !important;

  width: 66%;
  height: 129px;
  border-radius: 8px !important;
  padding: 10px;
  margin-left: 10px;
}

.ScoreExam {
  margin-top: 10px;
  border: 1px solid #dde4eb;
  width: 66%;
  height: 150px;
  border-radius: 8px !important;
  padding: 10px;
  margin-left: 10px;
  position: relative;
  border: 1px solid #dde4eb !important;
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11) !important;
}

.modal {
  border-radius: 10px;
  padding-top:10px;
  padding-bottom:10px;
  background-color: #ffffff;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 90%;
  box-shadow: 24;
  padding-top: 4;
}
.time {
  margin-top: 15px;
  margin-left: 10px;
  color: #001737;
  font-family: Roboto;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 58px;
  flex-basis: 80%;
}
.modifyicon {
  flex-basis: 20%;
  margin-top: 25px;
}
.input{
  box-sizing: border-box;
  height: 270px;
  width: 446px;
  border: 1px solid #DDE4EB;
  border-radius: 6px;
  background-color: #F5FAFF;
  box-shadow: 0 0 0 0 rgba(90,113,208,0.11);
}
.choice{
text-align: center;
}